
div#contribution-type-form div.inputs {
	width: 60%;

}

div#location_form {
	margin-top: 12px;
}

/* User Profiles integration */

h2.contribution-userprofile  {
	margin-bottom: 3px;
}

.contribution-userprofile-visibility {
	cursor: pointer;
}

p#contribution-userprofile-visibility {
	margin: 2px;
}

div.contribution-userprofile.exists {
	display: none;
}

.btn-glyphicon {
    padding:8px !important;
    background:#ffffff;
    margin-right:4px !important;
}
.icon-btn {
    padding: 1px 15px 3px 2px !important;
		margin: 10px !important;
    border-radius:50px !important;
}
.panel-heading {
	background: #fff !important;
}
.panel-collapse {
	background: #f6f6f6 !important;
}
.panel-body {
	background-color: #fff;
}
